<div class='row container mx-auto'>
<div>
    <img src="https://www.cbre.dk/-/media/cbre/countryunitedstates/corporate-offices/northwest/seattle/seattle-office-photo.jpg" height='500px'width='450px';>
</div>

<div class='section'>
    <img src="https://www.clipartmax.com/png/middle/227-2272321_article-writing-icon-post-job-icon-in-png.png" height='40px'width='50px';> 
    <span><b  style="font-family:Cursive;">Edit Post</b></span>
<hr>
<br/>
<%= render 'form'%>
</div>
</div>
