
<div class='section'>
<div class='container'>
    <img src="https://previews.123rf.com/images/indomercy/indomercy1701/indomercy170100277/69902040-email-box-icon-color.jpg" height='50px'width='50px';> 
    <span><b  style="font-family:Cursive;">New Post</b></span>
</div>
<hr>
<br/>
<%= render 'form'%>
</div>

