<div class='row container mx-auto'>
<div>
    <img src="https://www.wallpaperbetter.com/wallpaper/459/673/133/buildings-skyscrapers-seattle-hd-2K-wallpaper.jpg" height='500px'width='450px';>
</div>

<div class='section'>
    <img src="https://previews.123rf.com/images/indomercy/indomercy1701/indomercy170100277/69902040-email-box-icon-color.jpg" height='50px'width='50px';> 
    <span><b  style="font-family:Cursive;">New Post</b></span>
<hr>
<br/>
<%= render 'form'%>
</div>
</div>




