
.header{
    margin-top:10px;
}

h3 {
    font-family:Cursive;
}

.upbutton{
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.upbutton:hover {opacity: 1}


#inbutton{
  background-color: #ff0066;
  color: white;
  text-align: center;
  font-size: 16px;
}


footer{
    background-color:#ebfafa;
    color:black;
    height:350px;
    padding:20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa {
    padding: 7px;
    font-size: 15px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 6px 3px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .read{
    background-color:red;
    color:white;
    padding:5px;

  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color:#000080;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  
  .section{
    border:2px groove;
    padding:30px;
    // margin-left:350px; 
    // margin-top:20px;
    height:550px;
    width:450px;
    background-color: #F5FFFA;
  }

  .card-body{
    background-color: #ebfafa;
  }

  .new_card {
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis; // ...
    white-space: nowrap;
}
  
@media (max-width: 574px) {
  .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem 2rem;
      grid-auto-rows: minmax(150px, auto);
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
@media (min-width: 575px) {
  .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem 2rem;
      grid-auto-rows: minmax(150px, auto);
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
@media (min-width: 768px) {
  .grid-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 0.5rem 2rem;
      grid-auto-rows: minmax(150px, auto);
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
@media (min-width: 992px) {
  .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 0.5rem 2rem;
      grid-auto-rows: minmax(150px, auto);
      padding-right: 1rem;
      padding-left: 1rem;
  }
}
@media (min-width: 1200px) {
  .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0.5rem 2rem;
      grid-auto-rows: minmax(150px, auto);
      padding-right: 1rem;
      padding-left: 1rem;
  }
}

.signup ,.signin{
   width: 100%;
   height: 350px;
   align-items: center;
   justify-content: space-around;
   display: flex;
  
}




